In [1]:
import pandas as pd
import os

from dash import Dash, dcc, html, Input, Output,callback
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df = px.data.gapminder()

In [3]:
continents = list(df['continent'].unique())
countries = list(df['country'].unique())

In [4]:
df.groupby('year')['gdpPercap'].mean().reset_index()

    year     gdpPercap
0   1952   3725.276046
1   1957   4299.408345
2   1962   4725.812342
3   1967   5483.653047
4   1972   6770.082815
5   1977   7313.166421
6   1982   7518.901673
7   1987   7900.920218
8   1992   8158.608521
9   1997   9090.175363
10  2002   9917.848365
11  2007  11680.071820

In [6]:
app = Dash(__name__)
app.layout = html.Div([
    
    dcc.Dropdown(
        id='continent',
        options=[{'label':cont, 'value':cont} for cont in continents]),
    dcc.Dropdown(
        id='country',
        options=[{'label':cntry, 'value':cntry} for cntry in countries]),

])

@app.callback(
    Output('country', 'options'),
    Input('continent', 'value'))

def update_minor_dd(cont):
    
    sel_countries = list(df[df['continent']==cont]['country'].unique())
    
    new_options = [{'label':x, 'value':x} for x in sel_countries]
    return new_options


if __name__ == '__main__':
    app.run_server(debug=True, port=8056)