In [1]:
import pandas as pd
import os

from dash import Dash, dcc, html, Input, Output,callback
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df = pd.read_csv('data//data.csv')
df_mean = df.groupby('year')['nat_turnout'].mean().reset_index()

In [8]:
df.head()

,country,abbreviation,region,euro_year,euro_turnout,year,nat_turnout,population,pres_more
0,Austria,AT,Western,2019,59.80,2017,80.00,8754413,False
1,Belgium,BE,Western,2019,88.47,2019,88.38,11647253,False
2,Bulgaria,BU,Central/Eastern,2019,32.64,2016,56.28,7144653,True
3,Croatia,HR,Central/Eastern,2019,29.86,2015,59.05,4470534,True
4,Cyprus,CY,Mediterranean,2019,44.99,2018,73.97,1237088,True

In [9]:
scatter_plot = px.scatter(df , x = 'euro_turnout', y = 'nat_turnout')

In [11]:
app = Dash(__name__)
app.layout = html.Div([
    
    html.H1('Scatter Plot'),
    html.P('Select Points'),
    
    html.Div(children=[
    dcc.Graph(id = 'scatter_plot', figure = scatter_plot, style={'display':'inline-block'}),
    ]),

])

@app.callback(
    Output('bar_plot_country', 'figure'),
    Input('bar_plot_yearly', 'hoverData'))

if __name__ == '__main__':
    app.run_server(debug=True, port=8054)